site_name: Wake
site_url: https://ackeeblockchain.com/wake/docs
repo_url: https://github.com/Ackee-Blockchain/wake
repo_name: Ackee-Blockchain/wake
edit_uri: edit/main/docs
site_description: Wake is a Python-based development and testing framework for Solidity developed by Ackee Blockchain.
site_author: Ackee Blockchain

theme:
  name: "material"
  language: en
  favicon: images/wake-favicon.svg
  logo: images/wake-logo.png
  custom_dir: docs/overrides
  font:
    text: Space Grotesk
  palette:
    - media: "(prefers-color-scheme: light)"
      scheme: default
      toggle:
        icon: material/toggle-switch
        name: Switch to dark mode

    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      toggle:
        icon: material/toggle-switch-off-outline
        name: Switch to light mode

  features:
    - content.code.copy
    - content.tabs.link
    - navigation.tracking
    - navigation.sections
    - navigation.indexes
    - navigation.top
    - navigation.tabs

nav:
  - Basics:
      - Installation: 'installation.md'
      - Configuration: 'configuration.md'
      - Compilation: 'compilation.md'
      - Contributing: 'contributing.md'
  - Development and testing framework:
      - Overview: 'testing-framework/overview.md'
      - Basics:
        - Getting started: 'testing-framework/getting-started.md'
        - Interacting with contracts: 'testing-framework/interacting-with-contracts.md'
        - Accounts and addresses: 'testing-framework/accounts-and-addresses.md'
        - Chains and blocks: 'testing-framework/chains-and-blocks.md'
        - Transaction objects: 'testing-framework/transaction-objects.md'
        - Events and errors: 'testing-framework/events-and-errors.md'
        - Helper functions: 'testing-framework/helper-functions.md'
      - Fuzzing: 'testing-framework/fuzzing.md'
      - Cross-chain testing: 'testing-framework/cross-chain-testing.md'
      - Deployment: 'testing-framework/deployment.md'
      - Debugging: 'testing-framework/debugging.md'
      - Coverage analysis: 'testing-framework/coverage-analysis.md'
      - Performance considerations: 'testing-framework/performance-considerations.md'
      - Migrating from Ape & Brownie: 'testing-framework/migrating-from-ape-and-brownie.md'
      - Migrating from Woke 2.x: 'testing-framework/migrating-from-woke-2.md'
      - Migrating from Woke 3.x: 'testing-framework/migrating-from-woke-3.md'
      - Troubleshooting: 'testing-framework/troubleshooting.md'
  - Detectors: 'detectors.md'
  - LSP server: 'language-server.md'
  - Solc Version Manager: 'solc-version-manager.md'
  - API reference:
      - wake.config:
          - data_model: 'api-reference/config/data-model.md'
          - wake_config: 'api-reference/config/wake-config.md'
      - wake.ir:
          - declarations:
              - abc: 'api-reference/ir/declarations/abc.md'
              - contract_definition: 'api-reference/ir/declarations/contract-definition.md'
              - enum_definition: 'api-reference/ir/declarations/enum-definition.md'
              - enum_value: 'api-reference/ir/declarations/enum-value.md'
              - error_definition: 'api-reference/ir/declarations/error-definition.md'
              - event_definition: 'api-reference/ir/declarations/event-definition.md'
              - function_definition: 'api-reference/ir/declarations/function-definition.md'
              - modifier_definition: 'api-reference/ir/declarations/modifier-definition.md'
              - struct_definition: 'api-reference/ir/declarations/struct-definition.md'
              - user_defined_value_type_definition: 'api-reference/ir/declarations/user-defined-value-type-definition.md'
              - variable_declaration: 'api-reference/ir/declarations/variable-declaration.md'
          - enums: 'api-reference/ir/enums.md'
          - expressions:
              - abc: 'api-reference/ir/expressions/abc.md'
              - assignment: 'api-reference/ir/expressions/assignment.md'
              - binary_operation: 'api-reference/ir/expressions/binary-operation.md'
              - conditional: 'api-reference/ir/expressions/conditional.md'
              - elementary_type_name_expression: 'api-reference/ir/expressions/elementary-type-name-expression.md'
              - function_call: 'api-reference/ir/expressions/function-call.md'
              - function_call_options: 'api-reference/ir/expressions/function-call-options.md'
              - identifier: 'api-reference/ir/expressions/identifier.md'
              - index_access: 'api-reference/ir/expressions/index-access.md'
              - index_range_access: 'api-reference/ir/expressions/index-range-access.md'
              - literal: 'api-reference/ir/expressions/literal.md'
              - member_access: 'api-reference/ir/expressions/member-access.md'
              - new_expression: 'api-reference/ir/expressions/new-expression.md'
              - tuple_expression: 'api-reference/ir/expressions/tuple-expression.md'
              - unary_operation: 'api-reference/ir/expressions/unary-operation.md'
          - meta:
              - identifier_path: 'api-reference/ir/meta/identifier-path.md'
              - import_directive: 'api-reference/ir/meta/import-directive.md'
              - inheritance_specifier: 'api-reference/ir/meta/inheritance-specifier.md'
              - modifier_invocation: 'api-reference/ir/meta/modifier-invocation.md'
              - override_specifier: 'api-reference/ir/meta/override-specifier.md'
              - parameter_list: 'api-reference/ir/meta/parameter-list.md'
              - pragma_directive: 'api-reference/ir/meta/pragma-directive.md'
              - source_unit: 'api-reference/ir/meta/source-unit.md'
              - structured_documentation: 'api-reference/ir/meta/structured-documentation.md'
              - try_catch_clause: 'api-reference/ir/meta/try-catch-clause.md'
              - using_for_directive: 'api-reference/ir/meta/using-for-directive.md'
          - statements:
              - abc: 'api-reference/ir/statements/abc.md'
              - block: 'api-reference/ir/statements/block.md'
              - break_statement: 'api-reference/ir/statements/break-statement.md'
              - continue_statement: 'api-reference/ir/statements/continue-statement.md'
              - do_while_statement: 'api-reference/ir/statements/do-while-statement.md'
              - emit_statement: 'api-reference/ir/statements/emit-statement.md'
              - expression_statement: 'api-reference/ir/statements/expression-statement.md'
              - for_statement: 'api-reference/ir/statements/for-statement.md'
              - if_statement: 'api-reference/ir/statements/if-statement.md'
              - inline_assembly: 'api-reference/ir/statements/inline-assembly.md'
              - placeholder_statement: 'api-reference/ir/statements/placeholder-statement.md'
              - return_statement: 'api-reference/ir/statements/return-statement.md'
              - revert_statement: 'api-reference/ir/statements/revert-statement.md'
              - try_statement: 'api-reference/ir/statements/try-statement.md'
              - unchecked_block: 'api-reference/ir/statements/unchecked-block.md'
              - variable_declaration_statement: 'api-reference/ir/statements/variable-declaration-statement.md'
              - while_statement: 'api-reference/ir/statements/while-statement.md'
          - types: 'api-reference/ir/types.md'
          - type_names:
              - abc: 'api-reference/ir/type-names/abc.md'
              - array_type_name: 'api-reference/ir/type-names/array-type-name.md'
              - elementary_type_name: 'api-reference/ir/type-names/elementary-type-name.md'
              - function_type_name: 'api-reference/ir/type-names/function-type-name.md'
              - mapping: 'api-reference/ir/type-names/mapping.md'
              - user_defined_type_name: 'api-reference/ir/type-names/user-defined-type-name.md'
          - yul:
              - abc: 'api-reference/ir/yul/abc.md'
              - assignment: 'api-reference/ir/yul/assignment.md'
              - block: 'api-reference/ir/yul/block.md'
              - break_statement: 'api-reference/ir/yul/break-statement.md'
              - case_statement: 'api-reference/ir/yul/case-statement.md'
              - continue_statement: 'api-reference/ir/yul/continue-statement.md'
              - expression_statement: 'api-reference/ir/yul/expression-statement.md'
              - for_loop: 'api-reference/ir/yul/for-loop.md'
              - function_definition: 'api-reference/ir/yul/function-definition.md'
              - identifier: 'api-reference/ir/yul/identifier.md'
              - if_statement: 'api-reference/ir/yul/if-statement.md'
              - leave: 'api-reference/ir/yul/leave.md'
              - literal: 'api-reference/ir/yul/literal.md'
              - switch: 'api-reference/ir/yul/switch.md'
              - typed_name: 'api-reference/ir/yul/typed-name.md'
              - variable_declaration: 'api-reference/ir/yul/variable-declaration.md'

extra:
  generator: false
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/Ackee-Blockchain
    - icon: fontawesome/brands/twitter
      link: https://twitter.com/ackeeblockchain
    - icon: fontawesome/brands/discord
      link: https://discord.gg/2HgPXQZVzP
  version:
    provider: mike

watch:
  - wake

plugins:
- search
- mkdocstrings:
    custom_templates: docs/templates
    handlers:
      python:
        import:
          - https://docs.python.org/3/objects.inv
          - https://networkx.org/documentation/stable/objects.inv
        options:
          show_root_heading: true
- mike:
    canonical_version: latest
- social:
    cards_layout_options:
      background_color: "#0000FF"
      color: "#FFFFFF"
- monorepo

markdown_extensions:
  - def_list
  - admonition
  - toc:
      permalink: "#"
  - pymdownx.details
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.tabbed:
      alternate_style: true

extra_javascript:
  - js/mathjax.js
  - js/asciinema-player.min.js
  - https://polyfill.io/v3/polyfill.min.js?features=es6
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js

extra_css:
  - stylesheets/extra.css
  - stylesheets/asciinema-player.css
