name: Build documentation

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python 3.10
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"
      - name: Install python dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install -e ".[dev]"
      - name: Fetch documentation branch
        run: git fetch origin documentation:documentation --depth=1
      - name: Build documentation
        run: |
          git config --global user.email "woke@ackeeblockchain.com"
          git config --global user.name "Woke bot"
          mike deploy -b documentation dev
      - name: Checkout documentation branch
        run: git checkout -f documentation
      - name: Push documentation
        uses: ad-m/github-push-action@master
        with:
          github_token: ${{ secrets.DOCUMENTATION_TOKEN }}
          branch: documentation
