name: Release

on:
  release:
    types: [published]

jobs:
  pypi:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: 3.11

    - name: Install Poetry
      run: |
        curl -sSL https://install.python-poetry.org | python3 -

    - name: Install dependencies
      run: poetry install

    - name: Set up PyPi token
      run: poetry config pypi-token.pypi ${{ secrets.PYPI_DEPLOY_TOKEN }}

    - name: Upload to PyPI
      run: poetry publish --build

  docker:
    needs: pypi
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v1

    - name: Login to DockerHub
      uses: docker/login-action@v1
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Build and push
      uses: docker/build-push-action@v2
      with:
        push: true
        tags: ackee-blockchain/wake:${{ github.event.release.tag_name }}

  purge_cache:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - name: Purge Cloudflare Cache
      run: ./purge_cache.sh
      env:
        DOMAIN_ZONE_ID: ${{ secrets.CF_DOMAIN_ZONE_ID }}
        DOMAIN_TOKEN: ${{ secrets.CF_DOMAIN_TOKEN }}